body {
    background-image: url(../images/diagmonds.png);
}

.container  {
    background: gray;
    text-align: center;
}

button  {
    background: none;
    border: none;
    margin-top:3 0px;
    margin-bottom: 30px;

}

.instructions   {
    font-family: khand;
    font-size: 18px;
    padding-left:100px;
    padding-right:100px;
    text-align: left;

}

.header  {
    margin-bottom:40px;
    margin-top:40px;
    padding-top: 50px;
    font-family: satisfy;
    font: size 32px;

}